#mapcontainer {
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    width: 1920px;
    height: 1080px;
}

.tilegrid {
    position: absolute;
    z-index: 100;
    font-size: 20px;
    text-align: left;
    color: #f00;
    background-color: transparent;
    border: solid 1px #f00;
    width: 234px;
    height: 234px;
    padding: 10px;
    box-sizing: content-box;
}

/* 마커관련 */
.cs_mapbridge .map_group .map_marker .ico {
    position: absolute;
    background: url(https://navermaps.github.io/maps.js.ncp/docs/img/example/sp_mapbridge5.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-size: 400px 450px;
    -webkit-background-size: 400px 450px;
    z-index: 10;
}

.cs_mapbridge .crs .map_marker[class*="_big"] .ico {
    width: 38px;
    height: 58px;
}

.cs_mapbridge .crs .map_marker.num1_big .ico {
    background-position: -160px -215px;
    background-size: 400px 450px;
    -webkit-background-size: 400px 450px;
    transform-origin: 19px 54px;
    -webkit-transform-origin: 19px 54px;
}

/* 마커 그림자 관련 */
.cs_mapbridge .map_group .map_marker .shd {
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://navermaps.github.io/maps.js.ncp/docs/img/example/sp_mapbridge5.png) no-repeat;
      background-position-x: 0%;
      background-position-y: 0%;
      background-size: auto;
    background-size: 400px 450px;
    -webkit-background-size: 400px 450px;
    content: '';
  }
  .cs_mapbridge .crs .map_marker[class*="_big"] .shd {
    top: 24px;
    left: 8px;
    width: 38px;
    height: 34px;
    background-position: -50px -270px;
    background-size: 400px 450px;
    -webkit-background-size: 400px 450px;
  }